body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.redglow {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
    text-align: center;
}

.greenglow {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #21c400, 0 0 10px #21c400, 0 0 15px #21c400, 0 0 20px #21c400;
    text-align: center;
}

.yellowglow {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #f2ff00, 0 0 10px #f2ff00, 0 0 15px #f2ff00, 0 0 20px #f2ff00;
    text-align: center;
}

.pinkglow {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #ff00c8, 0 0 10px #ff00c8, 0 0 15px #ff00c8, 0 0 20px #ff00c8;
    text-align: center;
}

img {
    border-radius: 1.5em;
    border-color: #00ffff;
    border: 6px solid;
}

a {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
    text-decoration: none;
    transition: 0.7s;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff;
    transition: 0.4s;
}

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}


.center {
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #000000;
    border-radius: 8px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffffff;
}

button > a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.screenoverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    backdrop-filter: blur(7px);
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s ease-in;
    text-align: center;
}

a.content {
    border: black solid;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    background-color: #270027;
    transition: 0.5s;
    font-size: 50px;
}

a.content:hover {
    border-radius: 35px;
    text-shadow: 0 0 5px #000000, 0 0 10px #363636, 0 0 15px #a3a3a3;
    font-weight: 150;
    color: #000000;
}

#home:hover {
    background-image: url(img/c57.gif);
    transition: 0.5s;
    background-size: 125px;
    background-position: center;
}

#games:hover {
    background-image: url(img/20f.gif);
    transition: 0.5s;
    background-size: 150px;
    background-position: center;
}

#stuff:hover {
    background-image: url(img/58f.gif);
    transition: 0.5s;
    background-size: 100px;
    background-position: center;
}

#changelog:hover {
    background-image: url(img/59h.gif);
    transition: 0.5s;
    background-size: 240px;
    background-position: bottom 2px;
}

.closebtn {
    transition: 0.3;
}

.openbtn {
    transition: 0.3;
}

.content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
}

a.content {
    text-decoration: none;
    font-size: 50px;
}

video {
    border-radius: 25px;
}

.rainbow {
    text-shadow:
        -3px 3px 4px #ff0000,
        -6px 6px 4px #ff6600,
        -9px 9px 4px #fff200,
        -12px 12px 4px #22ff00,
        -15px 15px 4px #0015ff,
        -18px 18px 4px #00ffc8,
        -21px 21px 4px #ff00dd,
        -24px 24px 4px #5b005b
}

.rainbowglow {
    text-shadow:
        0px 0px 10px #ff0000,
        0px 0px 20px #ff6600,
        0px 0px 30px #fff200,
        0px 0px 40px #22ff00,
        0px 0px 50px #0015ff,
        0px 0px 60px #00ffc8,
        0px 0px 70px #ff00dd,
        0px 0px 80px #5b005b
}
